#include <windows.h>
#include "Resources.h"
IDR_ENGLISH_TEXT RCDATA "Resources/en.json"
IDI_TINYTORRENT ICON "../../resources/TinyTorrent.ico"
IDR_SPANISH_TEXT RCDATA "Resources/es.json"
STRINGTABLE
BEGIN
    IDS_PRODUCT_NAME "TinyTorrent"
END
